{require_otp_vsn, "R13B04|R14|R15B"}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
%% {erl_opts, [debug_info, fail_on_warning, warn_missing_spec]}.

{deps, [
	{ibrowse, 			"3.*.*", {git, "git@github.com:cmullaparthi/ibrowse",	{tag, "v2.2.0"}}}
	,{rfc4627_jsonrpc, 	"0.01",  {git, "git@github.com:odo/erlang-rfc4627", 	{tag, "HEAD"}}}
 ]}.
{eunit_opts, [verbose]}.
{sub_dirs, []}.
